body {
    background: #ddd;
    font-size: 150%;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column-reverse;
    max-width: 640px;
    margin: 0 auto;
}

section {
    display: none;
    background: #ff0;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid #000;
}

section.found {
    display: block;
	animation: fadein 1s;
}

@keyframes fadein {
	from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}